.footer {
  
   width: 100%;
   height: 400px;
   background-color: #121619;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 10px;

 }
 
 .socialMedia svg {
   color: white;
   margin: 20px;
   font-size: 70px;
   cursor: pointer;
 }
 
 .footer p {
    margin: 10px;
    color: white;
 }
.row{
  margin-top: 10px;
}
.col-3{
  text-decoration: none;
  padding: 5px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px dashed white;
}
.col-3 li{
  margin: 1px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  
}

.col-3 a{
  font-size: x-small;
  padding: 1px;
  text-decoration: none;
  color: white;
}
.col-3 a:hover{
  text-decoration: 1px solid white;

}