.home{
   position: relative,sticky;
   
}

.headcontainer{
   
   position: absolute,sticky;
   top: 200px;
   left: 90px;
   color: white;
   
}
.headcontainer h1{
   padding-top: 100px;
   margin-top: 0px;
   margin-left: 100px;
   font-size: 60px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: oblique;
   forced-color-adjust: red;
}
.headcontainer p{
   margin-top: 10px;
   margin-left: 100px;
}
.headcontainer button{
   margin-top: 10px;
   margin-left: 100px;
   color: whitesmoke;
   box-sizing: 30px;
   width: 300px;
   height: 50px;
   border-radius: 50px;
   background-color: rgb(20, 30, 70);
}
.headcontainer button:hover{
   background-color: rgb(14, 33, 160);
}
.row{
   margin: 30px;
   
}
.col{
   color: white;
   font: optional;
   border-left: 1px solid white;
}